<!doctype html>
<html>
  <head>
    <title>Plays</title>
    <style>
      hr.solid {
        border-top: 1px solid #bbb;
      }
      .play-link:link {
        color: #0277bd;
        background-color: transparent;
      }
      .play-link:visited  {
        color: #0277bd;
        background-color: transparent;
      }
    .play-btns {
      background-color: #ADD8E6;
      padding: 2px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4x;
      transition-duration: 0.4s;
    }
    .play-btns:hover {
      background-color: #0277bd;
      color: white;
    }
    #show-menu {
      text-align: center;
    }
    .menu-btns {
      background-color: #C0C0C0;
      padding: 8px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4x;
      transition-duration: 0.4s;
    }
    .menu-btns:hover {
      background-color: #0277bd;
      color: white;
    }
    </style>
  </head>
<body>
    <h2> All About <%= @playwright.name %></h2>

    <h4>Biography</h4>
    <br>
    <% if @playwright.bio %>
      <p><%= @playwright.bio %></p>
    <% else %>
      <p><%= @playwright.name %> does not have a biography.</p>
    <% end %>

    <% if @playwright.bio == current_user.bio %>
      <p>Edit bio here</p>
    <% end %>
    <!-- add/edit bio option if current_user -->

    <hr class="solid">
    <br>

      <h4>Plays by <%= @playwright.name %></h4>
      <br>
      <% if @playwright.plays.count == 0 %>
        <p><%= @playwright.name %> does not have any plays in the library.</p>
      <% else %>
        <ul>
          <% @playwright.plays.each do |play| %>
          <a class="play-link" href="/plays/<%= play.id %>"><li><%= play.name %></li></a>
          <br>
          <% end %>
        </ul>
      <% end %>

      <% if @playwright == current_user %>
        <p>Add play here</p>
      <% end %>
      <!-- add option to add play if current_user -->

      <div id="show-menu">
        <hr class="solid">
        <br>
        <a class="button" href="/home"><button class="menu-btns">Home</button></a>
        <a class="button" href="/logout"><button class="menu-btns">Logout</button></a>
      </div>

  </body>
</html>
