<!doctype html>
<html>
  <head>
    <title>Plays</title>
    <style>
      hr.solid {
        border-top: 1px solid #bbb;
      }
      .play-link:link {
        color: #0277bd;
        background-color: transparent;
      }
      .play-link:visited  {
        color: #0277bd;
        background-color: transparent;
      }
      .bio-btns {
        padding: 2px 12px;
        background-color: #ADD8E6;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .bio-btns:hover {
        background-color: #0277bd;
        color: white;
      }
    #show-menu {
      text-align: center;
    }
    .menu-btns {
      background-color: #C0C0C0;
      padding: 8px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4x;
      transition-duration: 0.4s;
    }
    .menu-btns:hover {
      background-color: #0277bd;
      color: white;
    }
    </style>
  </head>
<body>
    <h2> All About <%= @playwright.name %></h2>

    <h4>Biography</h4>
    <br>
      <p><%= @playwright.bio %></p>

    <% if @playwright.bio == current_user.bio %>
      <a class="button" href="/bio"><button class="bio-btns">Edit Bio</button></a>
    <% end %>

    <hr class="solid">
    <br>

      <h4>Plays by <%= @playwright.name %></h4>
      <br>
      <% if @playwright.plays.count == 0 %>
          <% if @playwright == current_user %>
            <p>It looks like you do not have any plays in the library.</p>
            <% else %>
            <p><%= @playwright.name %> does not have any plays in the library.</p>
            <% end %>
      <% else %>
        <ul>
          <% @playwright.plays.each do |play| %>
          <a class="play-link" href="/plays/<%= play.id %>"><li><%= play.name %></li></a>
          <br>
          <% end %>
        </ul>
      <% end %>

      <% if @playwright == current_user %>
        <a class="button" href="/plays/new"><button class="bio-btns">Add Play</button></a>
      <% end %>
      <!-- add option to add play if current_user -->

      <div id="show-menu">
        <hr class="solid">
        <br>
        <a class="button" href="/home"><button class="menu-btns">Home</button></a>
        <a class="button" href="/logout"><button class="menu-btns">Logout</button></a>
      </div>

  </body>
</html>
